BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "rstn" SITE "F4";
IOBUF PORT "rstn" IO_TYPE = LVCMOS33 ;

LOCATE COMP "sda" SITE "D17";
IOBUF PORT "sda" IO_TYPE = LVCMOS33 ;

LOCATE COMP "scl" SITE "E17";
IOBUF PORT "scl" IO_TYPE = LVCMOS33 ;

LOCATE COMP "sl_clk" SITE "E5";
IOBUF PORT "sl_clk" IO_TYPE = LVCMOS33 ;

LOCATE COMP "ok" SITE "J18";
IOBUF PORT "ok" IO_TYPE = LVCMOS33 ;

LOCATE COMP "fastclk" SITE "P3";
IOBUF PORT "fastclk" IO_TYPE = LVCMOS33 ;
FREQUENCY PORT "fastclk" 25.0 MHz;